body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece1d6;
  background-image: url("./background.png");
  background-size: auto 512px;
  background-repeat: repeat;
  background-position: top left;
  overflow: hidden;
  flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.header-top {
  height: 10px;
  background-color: #169497; /* Dark blue strip */
}
.header-bottom {
  background-color: #93d2bd; /* Light blue for title */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* Adjusted padding */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.footer-orange {
  height: 10px;
  background-color: #ef9c1f;
}

.footer-yellow {
  height: 40px;
  background-color: #cb6a28;
}

.footer-red {
  height: 100px;
  background-color: #ad2424;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 225, 214, 0.9);
}

.container {
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3rem; /* Adjusted font size */
  color: #ad2424;
  -webkit-text-stroke: 4px #ef9c1f;
}

#winner {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem; /* Adjusted font size */
  margin-top: 3rem; /* Adjusted margins */
  margin-bottom: 2rem;
  height: 3rem;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

#draw-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem; /* Adjusted size */
  background-color: #169497;
  border: none;
  cursor: pointer;
  color: #ece1d6;
  border-radius: 5px;
  margin-top: 5rem;
  transition: 0.3s;
}

#csv-upload {
  display: none;
}

#upload-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem; /* Adjusted size */
  background-color: #93d2bd;
  border: none;
  cursor: pointer;
  color: #0b141a;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.shuffling {
  font-size: 4rem; /* Adjusted size */
  animation: flash 0.1s alternate infinite;
}

@keyframes flash {
  from {
    color: #ff0;
  }
  to {
    color: #0ff;
  }
}

#lottie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  pointer-events: none;
}

#lottie-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  pointer-events: none;
}

#lottie-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  pointer-events: none;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.top-image {
  display: block;
  margin: 0 auto;
  width: 400px; /* Adjusted image size */
  margin-bottom: 10px;
}

.side-images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.side-image {
  width: auto;
  height: 80px; /* Adjusted image size */
  -webkit-filter: drop-shadow(5px 5px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(5px 5px 0 white) drop-shadow(-1px -1px 0 white);
  object-fit: cover;
  margin: 0 10px;
}

#background-lottie {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 200px; /* Adjusted to fit resolution */
  z-index: 2;
  pointer-events: none;
}

#background-lottie-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 200px; /* Adjusted to fit resolution */
  z-index: 2;
  pointer-events: none;
}
